{% load i18n %}
<html>

<head>
    <title>{% trans "Calculator" %}</title>
    <script src="https://d3js.org/d3.v5.js"></script>
    <style type="text/css">
        /* 13. Basic Styling with CSS */

        /* Style the lines by removing the fill and applying a stroke */
        .line_rpm {
            fill: none;
            stroke-width: 3;
            stroke: #ffab00;
        }

        .line_feed {
            fill: none;
            stroke-width: 3;
            stroke: #ffabee;
        }

        .overlay {
            fill: none;
            pointer-events: all;
        }

        /* Style the dots by assigning a fill and stroke */
        .dot_rpm {
            stroke: #fff;
            fill: #ffab00;
        }

        .dot_feed {
            stroke: #fff;
            fill: #ffabee;
        }

        .focus circle {
            fill: none;
            stroke: steelblue;
        }

        .axis text {
            fill: #2b2929;
            font-family: Georgia;
            font-size: 120%;
        }

        .max_power_limit {
            stroke: red;
            fill: none;
            stroke-width: 1px;
        }
    </style>
</head>

<body>
    <h1>{% trans "Calculator" %}</h1>

    <select id="machineSelectButton">
        <option value="-">-</option>
    </select>
    <br />
    <select id="materialSelectButton">
        <option value="-">-</option>
    </select>
    <br />
    <select id="toolSelectButton">
        <option value="-">-</option>
    </select>
    <br />
    <select id="apSelectButton">
        <option value="-">-</option>
    </select>

    <hr />

    <div id='vis-container'></div>

    <div id='tooltip' style='position:absolute;background-color:lightgray;padding:5px'></div>

    <script type="text/javascript">
        var selectedMachine; // id, name, max_rpm, max_cutting_speed
        var selectedTool; // id, diameter, flute_length
        var selectedMaterial;
        var selectedCuttingSpeed;
        var selectedAp;

        d3.json("/api/machine/").then((data) => {
            d3.select("#machineSelectButton")
                .selectAll('options')
                .data(data)
                .enter()
                .append('option')
                .text(function (d) { return d.name; })
                .attr("value", function (d) { return d.id; })
        });
        d3.json("/api/material/").then((data) => {
            d3.select("#materialSelectButton")
                .selectAll('options')
                .data(data)
                .enter()
                .append('option')
                .text(function (d) { return d.name; })
                .attr("value", function (d) { return d.id; })
        });
        d3.json("/api/tool/").then((data) => {
            d3.select("#toolSelectButton")
                .selectAll('options')
                .data(data)
                .enter()
                .append('option')
                .text(function (d) { return d.name; })
                .attr("value", function (d) { return d.id; })
        });



        var fzAdjusted = function (cut_settings, ae) {
            var ae_factor = Math.min(1, ae / cut_settings.tool.diameter);
            var fz_factor = 1 - ((1 - cut_settings.tool.fz_factor_at_one_ae) * ae_factor);
            return cut_settings.feed_per_tooth * fz_factor;
        }

        var vcAdjusted = function (tool_diameter, tool_vc_factor_at_one_ae, cutting_speed, ae) {
            ae_factor = Math.min(1, (ae / tool_diameter))
            vc_factor = 1 - ((1 - tool_vc_factor_at_one_ae) * ae_factor)
            return cutting_speed * vc_factor
        }

        var calculateFeedsAndSpeeds = function (machine, cut_settings, ae_percent) {
            ae = cut_settings.tool.diameter * ae_percent;
            flute_count = cut_settings.tool.flute_count;
            feed_per_tooth = fzAdjusted(cut_settings, ae);
            cutting_speed = vcAdjusted(cut_settings.tool.diameter, cut_settings.tool.vc_factor_at_one_ae, cut_settings.cutting_speed, ae);

            rpm_calculated = (cutting_speed * 1000) / (Math.PI * cut_settings.tool.diameter);
            feed_calculated = rpm_calculated * feed_per_tooth * flute_count;

            rpm_max = Math.min(rpm_calculated, machine.max_rpm)
            feed_at_rpm_max = rpm_max * feed_per_tooth * flute_count
            rpm_final = feed_at_rpm_max / (feed_per_tooth * flute_count)
            return {
                "rpm": Math.round(rpm_final),
                "feed": Math.round(feed_at_rpm_max)
            }
        }

        var margin = { top: 50, right: 50, bottom: 50, left: 55 }
            , width = 800 - margin.left - margin.right
            , height = 600 - margin.top - margin.bottom;

        var aeScale;
        var rpmScale;
        var feedScale;
        var rpmLine;
        var feedLine;
        var dataset = [];
        var tooltip;
        var tooltipLine;
        createChart = function () {
            tooltip = d3.select('#tooltip');

            aeScale = d3.scaleLinear().domain([0, 1]).range([0, width]);
            rpmScale = d3.scaleLinear().domain([0, selectedMachine['max_rpm']]).range([height, 0]);
            feedScale = d3.scaleLinear().domain([0, selectedMachine['max_cutting_speed']]).range([height, 0]);
            rpmLine = d3.line()
                .x(function (d, i) {
                    return aeScale(d.ae);
                })
                .y(function (d) {
                    return rpmScale(d.rpm);
                });
            feedLine = d3.line()
                .x(function (d, i) {
                    return aeScale(d.ae);
                })
                .y(function (d) {
                    return feedScale(d.feed);
                });

            var svg = d3.select("div#vis-container").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            tooltipLine = svg.append('line');

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(aeScale)) // Create an axis component with d3.axisBottom
                // label
                .append("text").attr("dy", ".75em").attr("y", 25).attr("x", 10).style("text-anchor", "end").text("Ae (* d)");

            // 4. Call the y axis in a group tag
            svg.append("g")
                .attr("class", "y axis")
                .call(d3.axisLeft(rpmScale))
                // label
                .append("text").attr("transform", "rotate(-90)").attr("dy", ".75em").attr("y", -55).style("text-anchor", "end").text("RPM (1/min)");

            // 4. Call the y axis in a group tag
            svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + width + " ,0)")
                .call(d3.axisRight(feedScale))
                // label
                .append("text").attr("transform", "rotate(-90)").attr("dy", ".75em").attr("y", 40).style("text-anchor", "end").text("Feed (m/min)");

            svg.append("path")
                //.datum(dataset) // 10. Binds data to the line 
                .attr("class", "line_rpm") // Assign a class for styling 
                .attr("d", rpmLine(dataset)); // 11. Calls the line generator 

            svg.append("path")
                //.datum(dataset) // 10. Binds data to the line 
                .attr("class", "line_feed") // Assign a class for styling 
                .attr("d", feedLine(dataset)); // 11. Calls the line generator 

            tipBox = svg.append('rect')
                .attr('width', width)
                .attr('height', height)
                .attr('opacity', 0)
                .on('mousemove', drawTooltip)
                .on('mouseout', removeTooltip);
        }

        function removeTooltip() {
            if (tooltip) tooltip.style('display', 'none');
            if (tooltipLine) tooltipLine.attr('stroke', 'none');
        }

        function drawTooltip() {
            aeFromCurrentPosition = Math.floor(aeScale.invert(d3.mouse(tipBox.node())[0]) * 100) / 100
            dataAtCurrentAe = dataset.find(h => h.ae == aeFromCurrentPosition)
            
            tooltipLine.attr('stroke', 'black')
                .attr('x1', aeScale(aeFromCurrentPosition))
                .attr('x2', aeScale(aeFromCurrentPosition))
                .attr('y1', 0)
                .attr('y2', rpmScale(selectedMachine['max_rpm']));

            tooltip.html('ae: ' + dataAtCurrentAe.ae + '<br />rpm: ' + dataAtCurrentAe.rpm + '<br />vc: ' + dataAtCurrentAe.feed)
                .style('display', 'block')
                .style('left', d3.event.pageX + 20)
                .style('top', d3.event.pageY - 20)
        }

        var updateChart = function () {
            var svg = d3.select("div#vis-container").transition();

            dataset = d3.range(0.01, 1.01, 0.01).map(function (d) {
                v = calculateFeedsAndSpeeds(selectedMachine, selectedCuttingSpeed, d)
                return {
                    "ae": Math.round(d*100)/100,
                    "rpm": v.rpm,
                    "feed": v.feed
                }
            });

            svg.select(".line_rpm")   // change the line
                .duration(250)
                .attr("d", rpmLine(dataset));

            svg.select(".line_feed")   // change the line
                .duration(250)
                .attr("d", feedLine(dataset));
        }

        var calculateMaxAeForAp = function (ap) {
            return 0.2
        }


        /**
         * Update power limit vertical marker
         */
        var updateMaxPower = function (ap) {
            var calculated_max_power_ae = calculateMaxAeForAp(ap)
            var svg = d3.select('div#vis-container svg g');
            svg.select("line.max_power_limit").remove();
            svg.append('line')
                .attr('x1', aeScale(calculated_max_power_ae))
                .attr('y1', rpmScale(0))
                .attr('x2', aeScale(calculated_max_power_ae))
                .attr('y2', rpmScale(selectedMachine['max_rpm']))
                .attr('class', 'max_power_limit');
        }

        var loadCuttingSpeeds = function () {
            var selectedMaterialId = d3.select("#materialSelectButton").property("value");
            var selectedToolId = d3.select("#toolSelectButton").property("value");
            if (selectedMaterialId == '-' || selectedToolId == '-') {
                return;
            }
            d3.json("/api/material/" + selectedMaterialId).then((data) => {
                selectedMaterial = data;
            });
            d3.json("/api/tool/" + selectedToolId).then((data) => {
                selectedTool = data;
                aeDate = dataset = d3.range(0, selectedTool.flute_length / selectedTool.diameter + 0.1, 0.1)
                d3.select("#apSelectButton")
                    .selectAll('options')
                    .data(aeDate)
                    .enter()
                    .append('option')
                    .text(function (d) { return d; })
                    .attr("value", function (d) { return d; })


            });
            d3.json("/api/cutting_speed/?tool=" + selectedToolId + "&material=" + selectedMaterialId).then((cutting_speeds) => {
                d3.json("/api/cutting_speed_calculation_data/" + cutting_speeds[0].id + "/").then((data) => {
                    selectedCuttingSpeed = data
                    updateChart();
                });
            });
        }

        d3.select("#machineSelectButton").on("change", function () {
            selectedMachineId = d3.select(this).property('value')
            d3.json("/api/machine/" + selectedMachineId).then((data) => {
                selectedMachine = data;
                createChart();
            });
        })
        d3.select("#materialSelectButton").on("change", function () {
            loadCuttingSpeeds();
        });
        d3.select("#toolSelectButton").on("change", function () {
            loadCuttingSpeeds();
        });
        d3.select("#apSelectButton").on("change", function () {
            selectedAp = d3.select('#apSelectButton').property('value');
            updateMaxPower(selectedAp);
        });

    </script>
</body>

</html>